.FormControl {
  display: flex;
  justify-content: space-evenly;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: purple;
  width: 25%;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: right;
  background-color: purple;
  width: 75%;
}